*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 100px;
   
}

.logo{
    background-image: url("/images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;

}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/* box2 */

.deliver{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;

}
.add-icon{
    display: flex;
 
    align-items: center;
}